<script src="http://squaresauce.com/js/specific/jquery-1.11.1.min.js"></script>
    <link href="http://squaresauce.com/styles/specific/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="http://squaresauce.com/styles/specific/ss-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="http://squaresauce.com/styles/specific/squaresauce.css" rel="stylesheet" type="text/css" />
   
    <title>Oops</title>
  
  <body class="fixed-header error-page  ">
    <div class="container-xs-height full-height">
      <div class="row-xs-height">
        <div class="col-xs-height col-middle">
          <div class="error-container text-center">
            <h2 class="semi-bold">Errr...</h2>
            <h3 >Congratulations! You just broke the internet!<br/>
This is probably not what you were looking for though...</h3>
            <p>Login or join the network
            <br/>
            <br/>
            <a href="http://squaresauce.com/login" class="btn btn-primary btn-cons">Login</a>&nbsp;&nbsp;
            <a href="http://squaresauce.com/#page3"class="btn btn-success btn-cons">Join</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="pull-bottom sm-pull-bottom full-width">
      <div class="error-container">
        <div class="error-container-innner">
          <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <div class="col-sm-3 no-padding">
              <img alt="" class="m-t-5" data-src="http://squaresauce.com/images/dashboard/stamp.png" data-src-retina="http://squaresauce.com/images/dashboard/stamp.png" height="60" src="http://squaresauce.com/images/dashboard/stamp.png" width="60">
            </div>
            <div class="col-sm-9 no-padding">
              <p><small>
              Squaresauce is currently exclusive for LUMS Students only. If you're not a LUMS Student and want early beta access, <a href="http://squaresauce.com">join here.</a>
              </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
