<!DOCTYPE html>
<html >
<head>
	<title>Shah Chat - By Shah</title>
	<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
	<style type="text/css">
	body{
		background: #ededed;
		font-family: 'Open Sans', sans-serif;

	}
	.navbar{
		border-radius: 0px;
	}
	.form_chat{
		padding:10px;
	}
	.form-control{
		width: inherit;
	}
	.chat_message{
		padding: 10px;
		color: #000;
		font-size: 15px;
	background: #fff;
		font-family: 'Open Sans', sans-serif;
	}
	.td_class{
		word-break:break-all;
		padding: 34px;
		padding-bottom: 0px;
		padding-top: 20px;
		border:0;
	}
	.navbar-brand{
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
	}
	.user_name{
		padding-bottom: 0;
		color: #fff;
		font-size: 15px;
	}
	.col-lg-4,.col-lg-6{
		padding-right: 3px;
		padding-left: 3px;
	}

	</style>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
</head>
<body ng-app="socketApp" ng-controller="ChatController">

	<div class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Squaresauce Chat</a>

		</div>
		<div id="onlinetag" style="display: none; position: absolute;top:15px; right:15px; color: green;">Online</div>
		<div id="offlinetag" style="display: none; position: absolute;top:15px; right:15px;color:red;">Offline</div>
	</div>
	<div class="col-md-12" style="padding:100px">
		
		<table class="table">
			<tr class="chat_message" ng-repeat="chat in chatList | limitTo: 10000">
				<td class="col-md-12 td_class"><strong>{{ chat.user }} : </strong> {{ chat.message }}</td>
			</tr>
		</table>
		
	</div>

	<div class="navbar navbar-inverse navbar-fixed-bottom" >
	  <div class="col-lg-12">
	    
	    <form class="form_chat">
	    	<div class="col-lg-3 col-md-3">
	      		<input type="text" ng-model = "chatUser" class="form-control" placeholder="TypeYourNameHere">
	    	</div>
          	
	    	<div class="col-lg-6 col-md-5">
	      		<input type="text" ng-model = "chatMessage" class="form-control" placeholder="TypeYourMessageHere">
          	</div>
          	<button class="btn btn-default col-lg-2 col-md-2" ng-click="sendMsg()">Send</button>  
	    </form>
	    
	  </div>
	</div>
	<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
	<script type="text/javascript">
	</script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
	<script type="text/javascript">

		var socketApp = angular.module('socketApp',[]);

		socketApp.controller('ChatController',['$http','$log','$scope',function($http,$log,$scope){


			$scope.predicate = '-id';
			$scope.reverse = false;
			$scope.chatList =[];
			$scope.userId = '22';
			$scope.chatSquareId = location.hash.replace(/^#/, "");   //chatter/#2 means this is 2
			$scope.subSocket = function(){
				io.socket.post('/chat/subSocket/',{cid: $scope.chatSquareId});
			};
			$scope.getAllchat = function(){

				

				$http.get('/ChatSquare/find?cid='+ $scope.chatSquareId)
					 .success(function(success_data){
					 		
					 		console.log("This is success_data");
					 		$scope.chatList = success_data[0].messages;
					 		$log.info(success_data);
					 });
			};
			$scope.getAllchat();
			$scope.subSocket();
			$scope.chatUser = "nikkyBot"
			$scope.chatMessage="";


			io.socket.on('chatsquare',function(obj){
					console.log('i was turned on');
					console.log(obj.data);
					$log.info(obj)
					$scope.chatList.push(obj.data.messages);
					$scope.$digest();
				window.scrollTo(0, document.body.scrollHeight); // scroll to bottom
				

			});

			$scope.sendMsg = function(){
				$log.info($scope.chatMessage);
				io.socket.post('/chat/addconv/',{user:$scope.chatUser,message: $scope.chatMessage,cid: $scope.chatSquareId});
				$scope.chatMessage = "";
			};
		}]);


	</script>



<script>

setInterval(function(){ checkInternetConnection(); },1000);
function checkInternetConnection() {
  var isOnLine = navigator.onLine;
   if (isOnLine) {
        $('#onlinetag').fadeIn(600);
        $('#offlinetag').fadeOut(600);
   } else {
        $('#offlinetag').fadeIn(600);
        $('#onlinetag').fadeOut(600);
   }
}
</script>
