  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700" />


  <link rel="stylesheet" type="text/css" href="styles/specific/jquery.pagepiling.css" />
    <link class="main-stylesheet" href="styles/specific/squaresauce.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="styles/specific/homepage.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

  <script type="text/javascript" src="js/specific/jquery.pagepiling.min.js"></script>


  <link rel="stylesheet" href="styles/specific/homepage-slider-style.css"> <!-- Resource style -->
  <script src="js/specific/modernizr.js"></script> <!-- Modernizr -->
<script src="js/specific/main.js"></script> 


  <script type="text/javascript">
    var deleteLog = false;

    $(document).ready(function() {
        $('#pagepiling').pagepiling({
          menu: '#menu',
          anchors: ['page1', 'page2', 'page3', 'page4'],
          sectionsColor: ['#CC1F35', '#fff', '#2C3E50', '#CC1F35'],
          onLeave: function(index, nextIndex, direction){
            if(deleteLog){
              $('#callbacksDiv').html('');
            }
            $('#callbacksDiv').append('<p>onLeave - index:' + index + ' nextIndex:' + nextIndex + ' direction:' + direction + '</p>')
          },
          afterRender: function(){
            $('#callbacksDiv').append('<p>afterRender</p>');
          },
          afterLoad: function(anchorLink, index){
            $('#callbacksDiv').append('<p>afterLoad - anchorLink:' + anchorLink + " index:" + index + '</p>');

            //section 2
          if(index == 2){
            //moving the image
            $('#section2').find('.intro').delay(1).animate({
              left: '0%'
            }, 100, 'easeOutExpo', function(){
              $('#section2').find('p').first().fadeIn(700, function(){
                $('#section2').find('p').last().fadeIn(600);
              });
            });


          }

          //section 3
          if(anchorLink == 'page3'){
            //section 3
            $('#section3').find('.intro').delay(100).animate({
                left: '0%'
            }, 1500, 'easeOutExpo');
          }

          deleteLog = true;
          }
      });
      });


// SIGN UP FORM

 // define angular module/app
        var formApp = angular.module('formApp', []);
        // create angular controller and pass in $scope and $http
        function formController($scope, $http) {
            // create a blank object to hold our form information
            // $scope will allow this to pass between controller and view
            $scope.formData = {};
            // process the form
            $scope.processForm = function() {
                $http({
                    method  : 'POST',
                    url     : '/invitereqs/create',
                    data    : $.param($scope.formData),  // pass in data as strings
                    headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)

                }).success(function(headers) {
                        if (headers=='Error 0069') {
                            // if not successful, bind errors to error variables
                            var str = "Uh Oh, it seems like you have already registered. Please login to continue.";

                              document.getElementById('successfulsignup').innerHTML = str;

                            $('#successfulsignup').fadeIn('slow');
                            }
                            else {
                                    $('#signupform').fadeOut(0);

                                    var str = "Hi " + headers + "! Thanks for signing up! How about we take things to the next level now?<br/> But before we move in, make babies and live happily ever after, we'd like to meet some of your friends.</br> So why don't you call them over too?";

                              document.getElementById('successfulsignup').innerHTML = str;

                            $('#successfulsignup').fadeIn('slow');
                            $('#successfulsignup2').delay(1000).fadeIn('slow');

                            }


                            


                    });
            };
        }


 setInterval(function(){
        $("#explainer1").fadeOut(function() {
            $(this).attr("src","images/landing-page/slide2-1b.png").fadeIn().delay(2000).fadeOut(function(){
                $(this).attr('src', 'images/landing-page/slide2-2.png').fadeIn().delay(2000).fadeOut(function(){
                  $(this).attr('src', 'images/landing-page/slide2-3.png').fadeIn().delay(2000).fadeOut(function(){
                  $(this).attr('src', 'images/landing-page/slide2-1.png').fadeIn().delay(2000);
            });
            });
            });
         }
        );
    }, 12000);        
    

setInterval(function(){

var sectionid = location.hash.replace(/^#/, "");

if(sectionid=='page4') {

setInterval(function(){
        $("#squarecampus1").fadeOut(function() {
            
                 $('#squarecampus2').fadeIn(3000);
          
         });
    }, 1000);   

}

}, 1000); 

    </script>

    <style>
    #section2 .intro{
      left: -150%;
    position: relative;
    }
    #section2 p{
      display: none;
    }
    #section3 .intro{
      left: 140%;
    position: relative;
    }

 .section1logo {
  position: absolute;
  top: 20px;
  margin-left: 40px;
  opacity: 1;
 }
.section1menu {
position: absolute;
top: 48px;
right: 70px;
}
.section1menu a {

font-family: 'Montserrat', Arial;
font-size: 12px;
margin-left: 10px;
color: white;
}
.section1menu a:hover {
opacity:0.6;
text-decoration: none;
}
.section1scroll {
position: absolute;
overflow: auto;
margin: auto;
position: absolute;
left: 0;
bottom: 0;
right: 0;
}
.section1punchline {
width: 50%;
height: 50%;
overflow: auto;
margin: auto;
position: absolute;
left: 0;
bottom: 0;
right: 0;
text-align: center;
top: 100px;
font-family: 'Montserrat', Arial;
font-size: 24px;
font-weight: 400;
color: white;

}

.explain {
font-family: 'Segoe UI', Arial, sans serif;
font-weight: 100;
line-height: 30px;
}


#onm1 { display:none; }
#onm2 { display:none; }
#onm3 { display:none; }
#onm4 { display:none; }

@media only screen and (max-device-width: 480px) {

.section1punchline {
font-size: 16px;
}

.section1menu { display:none; }

.section1logo {
  width: 50%;
  height: 50%;
  position: absolute;
  top: -250px;
  left: 40px;
  bottom: 0;
  right: 0;
  opacity: 1;
  overflow: auto;
  margin: auto;
 }


.explain {
font-size: 15px !important;
line-height: 18px;
}


#upnext { display:none; }
#upnextfix { width:100%; margin:0; padding:0; }

#nom1 { display:none; }
#nom2 { display:none; }
#nom3 { display:none; }
#nom4 { display:none; }
#nom5 { display:none; }
#nom6 { display:none; }
#nom7 { display:none; }
#nom8 { display:none; }
#onm1 { display:block; }
#onm2 { display:block; }
#onm3 { display:block; }
#onm4 { display:block; }

}
    </style>

</head>
<body ng-app="formApp" ng-controller="formController">




  <div id="pagepiling">
      <div class="section" id="section1">
        
        <div class="section1logo" style=" "><img src="images/landing-page/squaresauce-white.png" alt="Squaresauce" width="150"/></div>
    
        <div class="section1menu">
          <a href="/login">LOGIN</a>
          <a href="#page3">SIGNUP</a>
          <a href="#page3">EXPLORE</a>
        </div>
    
    <div class="section1scroll">
     <img src="images/landing-page/squarekingdom.png" alt="Squaresauce" class="img-responsive"/>
    </div>
    <div class="section1punchline">Connecting Campuses — One Square at a Time</div>

      </div>
      <div class="section" id="section2">
        <div class="intro">
          <p class="explain">Ever considered how great it would be if similar student clubs or sports teams were all in one large group where they could reach out to each other directly? <br/><br/>Wouldn’t it be even cooler if some really awesome, mysterious, secret sauce helped them do this without even having to look for eachother?  How easy would this make organising events like the next MUN, or football league. <br/><br/> But why stop at just clubs? Why not take entire campuses and do the same to them? With four straight lines (and a few thousand lines of code), we did just that!</p>
        </div>
      </div>
      <div class="section" id="section3" style="padding: none;">
        

<div class="row">
        <div id="upnextfix" class="col-xs-9 col-md-6" style="background-color: #fdfbf7; color: rgb(99, 115, 112); height:100vh; padding: 40px;">
          <div class="signup-wrap">
          <h1 style=" font-family: Montserrat, Arial; font-size: 32px; color: #cc1f35;">Create a new Square</h1>
          <p>Get a Square for your own campus.<br/><br/><br/><br/></p>
          
    <div id="successfulsignup" style="display: none; text-align: center; font-size: 14px;"></div>
    <div id="successfulsignup2" style="display: none; text-align: center; font-size: 16px;">
<br/><br/>
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.squaresauce.com&t=Squaresauce" class="btn btn-block btn-primary" type="button">
                      <span class="pull-left"><i class="fa fa-facebook"></i>
                                    </span>
                      <span class="bold">Share on Facebook</span>
                    </a>
                    <a target="_blank" href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.squaresauce.com&text=Squaresauce:%20http%3A%2F%2Fwww.squaresauce.com&via=Squarrrre" class="btn btn-block btn-primary" type="button">
                      <span class="pull-left"><i class="fa fa-twitter"></i>
                                    </span>
                      <span class="bold">Tweet</span>
                    </a>
                    <a href="mailto:?subject=Squaresauce&body=Create%20online%20campuses%20-%20one%20square%20at%20a%20time:%20http%3A%2F%2Fwww.squaresauce.com" class="btn btn-block btn-primary"  type="button">
                      <span class="pull-left"><i class="fa fa-envelope"></i>
                                    </span>
                      <span class="bold">Email it</span>
                    </a>

    </div>
    <form id="signupform" ng-submit="processForm()" style="font-family: 'Segoe UI';">
           
     <div class="form-group form-group-default">
              <label>Full Name</label>
              <div class="controls">
                <input type="text" name="name" ng-model="formData.name" class="form-control" required>
              </div>
            </div>

     <div class="form-group form-group-default">
              <label>Email Address</label>
              <div class="controls">
                <input type="email" name="email" class="form-control" ng-model="formData.email" required>
              </div>
            </div>


     <div class="form-group form-group-default">
              <label>Campus</label>
              <div class="controls">
                <input type="text" name="institution" class="form-control"  ng-model="formData.institution" required>
              </div>
            </div>


           
    <br/><br/>
     <button class="btn btn-success btn-cons m-t-10" type="submit">Create</button>
    <br/><br/>
   
    <br/><br/>
    <font size="2" color="#ccc">By proceeding to create your Square, you are agreeing to our Terms of Service and Privacy Policy.</font>
          </form>
          </div>
        </div>
        <div class="clear"></div>
        <div id="upnext" class="col-xs-9 col-md-6" style="background-color: #440d2b; height:100vh; padding: 40px;">
        <div class="nextup-wrap text-center" style="font-family: 'Segoe UI';">
        <h1 style="color: #fff; font-family: Montserrat, Arial; font-size: 32px;">Up next</h1>
          <p style=" color: white;">And the next square is...<br/></p><br/>
          
          <div style="width: 300px; height: 300px; background-color: #cc1f35; margin: auto; text-align: center; font-family: 'Segoe UI', Arial; font-size: 72px; font-weight: 100; color: white;"><br/>NUST</div>
          <br/>
          <div style="margin-left:10px;">
          <div style="display: inline-block; width: 90px; height: 90px; background-color: #cc1f35; margin-right: 10px; font-family: 'Segoe UI', Arial; font-size: 22px; font-weight: 100; color: white;"><br/>GIKI</div>
          <div style="display: inline-block; width: 90px; height: 90px; background-color: #cc1f35; margin-right: 10px; font-family: 'Segoe UI', Arial; font-size: 22px; font-weight: 100; color: white;"><br/>LUMS</div>
          <div style="display: inline-block; width: 90px; height: 90px; background-color: #cc1f35; margin-right: 10px; font-family: 'Segoe UI', Arial; font-size: 22px; font-weight: 100; color: white;"><br/>...</div>
          </div>
          <br/><br/>
          <font size="2" color="#cc1f35"><b>Secret Sauce:</b> The campus with the highest number of signups gets its square first. <br/> If you want more people to signup for your campus, <br/> you may want to share this (just saying!)</font>
    
        </div>
        </div>
</div>



      </div>
      <div class="section" id="section4">
        

  <section class="cd-hero" style="height: 100vh !important;">
    <ul class="cd-hero-slider autoplay" style="height: 100vh !important;">
      <li id="place" class="selected">
        <div class="cd-full-width">
          <img src="images/landing-page/tiny-square.png" /><br/><br/>
          <div id="squarecampus1"><p style="font-size: 40px; color: #fff !important; opacity: 1; font-weight: 100;">This is a square</p></div>
          <div id="squarecampus2" style="display: none; "><p style="font-size: 40px; color: #fff !important; opacity: 1; font-weight: 100;">This is your campus</p></div>


        </div> <!-- .cd-full-width -->

      </li>

      <li>
        <div id="nom1" class="cd-half-width">
          
          <p style="font-size: 24px; color: #fff !important; opacity: 1; font-weight: 100;"><br/>
            <br/><br/>Within it, you can create as many<br/>squares as you want</p>
        </div> <!-- .cd-half-width -->

        <div id="nom2" class="cd-half-width cd-img-container">
          <img src="images/landing-page/slide2-1.png" id="explainer1" alt="squaresauce explainer">
        </div> <!-- .cd-half-width.cd-img-container -->


      <div  id="onm1" class="cd-full-width">
          <img src="images/landing-page/slide2-1.png" id="explainer1" alt="squaresauce explainer"><br/><br/>
          <p style="font-size: 30px; color: #fff !important; opacity: 1; font-weight: 100;">Within it, you can create as many<br/>squares as you want
          </p>

        </div> <!-- .cd-full-width -->

      </li>

      <li>
        <div id="nom3" class="cd-half-width cd-img-container">
          <img src="images/landing-page/football-square.png" alt="football">
        </div> <!-- .cd-half-width.cd-img-container -->

        <div id="nom4" class="cd-half-width">
          <p style="font-size: 24px; color: #fff !important; opacity: 1; font-weight: 100;"><br/>
            <br/><br/>So here's your college football team</p>
        </div> <!-- .cd-half-width -->
        

      <div  id="onm2" class="cd-full-width">
          <img src="images/landing-page/football-square.png" id="explainer1" alt="squaresauce explainer"><br/><br/>
          <p style="font-size: 30px; color: #fff !important; opacity: 1; font-weight: 100;">So here's your college football team
          </p>

        </div> <!-- .cd-full-width -->

      </li>

      <li class="cd-bg-video">
        <div id="nom5" class="cd-half-width cd-img-container">
          <img src="images/landing-page/square-tags.png" alt="football" height="300">
        </div> <!-- .cd-half-width.cd-img-container -->

        <div id="nom6" class="cd-half-width">
          <p style="font-size: 24px; color: #fff !important; opacity: 1; font-weight: 100;"><br/>
            <br/><br/>As soon as you create a square,<br/>we add some tags to it.</p>
        </div> <!-- .cd-half-width -->




      <div  id="onm3" class="cd-full-width">
          <img src="images/landing-page/square-tags.png" alt="football" height="300"><br/><br/>
          <p style="font-size: 30px; color: #fff !important; opacity: 1; font-weight: 100;">As soon as you create a square,<br/>we add some tags to it.
          </p>
        </div> <!-- .cd-full-width -->



      </li>

      <li>
        <div id="nom7" class="cd-half-width">
          
          <p style="font-size: 24px; color: #fff !important; opacity: 1; font-weight: 100;"><br/>
            <br/><br/>All just like that, all similar teams in the city, or country, are tossed into same square!</p>
        </div> <!-- .cd-half-width -->

        <div  id="nom8" class="cd-half-width cd-img-container">
          <img src="images/landing-page/all-squares.png" id="explainer5" alt="squaresauce explainer">
        </div> <!-- .cd-half-width.cd-img-container -->



      <div  id="onm4" class="cd-full-width">
          <img src="images/landing-page/all-squares.png" id="explainer5" alt="squaresauce explainer"><br/><br/>
          <p style="font-size: 30px; color: #fff !important; opacity: 1; font-weight: 100;">All just like that, all similar teams in the city, or country, are tossed into same square!
          </p>
        </div> <!-- .cd-full-width -->


      </li>
    </ul> <!-- .cd-hero-slider -->

    <div class="cd-slider-nav">
      <nav>
        <span class="cd-marker item-1"></span>
        
        <ul>
          <li class="selected"><a href="#0">Squares</a></li>
          <li><a href="#0">Sub Squares</a></li>
          <li><a href="#0">Squares</a></li>
          <li><a href="#0">Tags</a></li>
          <li><a href="#0">SuperSquares</a></li>
        </ul>
      </nav> 
    </div> <!-- .cd-slider-nav -->
  </section>

      </div>
  </div>
