  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700" />
  <link rel="stylesheet" type="text/css" href="styles/specific/jquery.pagepiling.css" />
  <link rel="stylesheet" type="text/css" href="styles/specific/homepage.css" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

  <script type="text/javascript" src="js/specific/jquery.pagepiling.min.js"></script>
  <script type="text/javascript">
    var deleteLog = false;

    $(document).ready(function() {
        $('#pagepiling').pagepiling({
          menu: '#menu',
          anchors: ['page1', 'page2', 'page3', 'page4'],
          sectionsColor: ['#CC1F35', '#fff', '#2C3E50', '#51bec4'],
          onLeave: function(index, nextIndex, direction){
            if(deleteLog){
              $('#callbacksDiv').html('');
            }
            $('#callbacksDiv').append('<p>onLeave - index:' + index + ' nextIndex:' + nextIndex + ' direction:' + direction + '</p>')
          },
          afterRender: function(){
            $('#callbacksDiv').append('<p>afterRender</p>');
          },
          afterLoad: function(anchorLink, index){
            $('#callbacksDiv').append('<p>afterLoad - anchorLink:' + anchorLink + " index:" + index + '</p>');

            //section 2
          if(index == 2){
            //moving the image
            $('#section2').find('.intro').delay(1).animate({
              left: '0%'
            }, 100, 'easeOutExpo', function(){
              $('#section2').find('p').first().fadeIn(700, function(){
                $('#section2').find('p').last().fadeIn(600);
              });
            });


          }

          //section 3
          if(anchorLink == 'page3'){
            //section 3
            $('#section3').find('.intro').delay(100).animate({
                left: '0%'
            }, 1500, 'easeOutExpo');
          }

          deleteLog = true;
          }
      });
      });
    </script>

    <style>
    #section2 .intro{
      left: -150%;
    position: relative;
    }
    #section2 p{
      display: none;
    }
    #section3 .intro{
      left: 140%;
    position: relative;
    }
    </style>

</head>
<body>




  <div id="pagepiling">
      <div class="section" id="section1">
        <div class="section1logo" style=" position: absolute; top: 20px; margin-left: 40px; opacity: 1;"><img src="images/landing-page/squaresauce-white.png" alt="Squaresauce" width="150"/></div>
    

<div class="section1menu" style=" position: absolute; top: 40px;  right: 70px; font-family: 'Montserrat', Arial; font-size: 12px;"><a href="/login">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#page3">SIGNUP</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#page3">EXPLORE</a></div>
    
    <div class="section1scroll" style=" position: absolute; overflow: auto;margin: auto;position: absolute; left: 0; bottom: 0; right: 0; ">
     
<img src="images/landing-page/squarekingdom.png" alt="Squaresauce" class="img-responsive"/>
    </div>
    <div class="section1punchline" style="width: 50%;height: 50%;overflow: auto;margin: auto;position: absolute; left: 0; bottom: 0; right: 0; text-align: center; top: 100px; font-family: 'Montserrat', Arial; font-size: 24px; font-weight: 400; color: white;">Connecting campuses — one square at a time</div>




      </div>
      <div class="section" id="section2">
        <div class="intro">
          <p>the secret sauce is nothing but a genuine red chemical substance combined with high tech sails found at the Barcelona beach. the secret sauce is nothing but a genuine red chemical substance combined with high tech sails found at the Barcelona beach. the secret sauce is nothing but a genuine red chemical substance combined with high tech sails found at the Barcelona beach. the secret sauce is nothing but a genuine red chemical substance combined with high tech sails found at the Barcelona beach.</p>
        </div>
      </div>
      <div class="section" id="section3">
        <div class="intro">
          <h1>Ideal for animations</h1>
          <p>Total control over your website.</p>
        </div>
      </div>
      <div class="section" id="section4">
        <div class="intro">
          <h1>Ideal for animations</h1>
          <p>Total control over your website.</p>
        </div>
      </div>
  </div>
