
    <title>Login</title>
<script src="js/specific/jquery-1.11.1.min.js"></script>
    <link href="styles/specific/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="styles/specific/ss-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="styles/specific/squaresauce.css" rel="stylesheet" type="text/css" />
   
    
  <body class="fixed-header   ">
    <!-- START PAGE-CONTAINER -->
    <div class="login-wrapper ">
      <!-- START Login Background Pic Wrapper-->
      <div class="bg-pic">
        <!-- START Background Pic-->
        <img src="images/gallery/lums-campus.jpg" data-src="images/gallery/lums-campus.jpg" data-src-retina="images/gallery/lums-campus.jpg" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h2 class="semi-bold text-white">Your Campus in a Square</h2>
          <p class="small">
             Photo by Pharan Tanveer (LUMS '15).
          </p>
        </div>
        <!-- END Background Caption-->
      </div>
      <!-- END Login Background Pic Wrapper-->
      <!-- START Login Right Container-->
      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
          <a href="http://squaresauce.com"><img src="images/gifs/squaresaucebubbles.gif" alt="logo" data-src="images/gifs/squaresaucebubbles.gif" data-src-retina="images/gifs/squaresaucebubbles.gif" width="58"></a>
          <p class="p-t-35">Login to your Squaresauce</p>
          <!-- START Login Form -->
          <form id="form-login" class="p-t-15" method="POST" action="/auth/local">
            <!-- START Form Control-->
            <div class="form-group form-group-default">
              <label>Email Address or username</label>
              <div class="controls">
                <input type="text" name="identifier"  class="form-control" required>
              </div>
            </div>
            <div class="form-group form-group-default">
              <label>Password</label>
              <div class="controls">
                <input type="password" name="password"  class="form-control" required>
                <input type="hidden" name="flag" value="login" class="form-control">
              </div>
            </div>
            
            <button class="btn btn-success btn-cons m-t-10" type="submit">Login</button>
            <div class="col-sm-12 no-padding m-t-10">
                <a href="http://squaresauce.com/#page3"><small>Request Invite</small></a>
              </div>
          </form>
          <!--END Login Form-->
          <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
              
              <div class="col-sm-12 no-padding m-t-10">
                <p><small>
		        		Squaresauce is currently exclusive for LUMS Students only. If you're not a LUMS Student and want early beta access, sign yourself up at our homepage.</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Login Right Container-->
    </div>
    <!-- END PAGE CONTAINER -->
    <script>
    $(function()
    {
      $('#form-login').validate()
    })
    </script>