<script src="js/specific/jquery-1.11.1.min.js"></script>
    <link href="styles/specific/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="styles/specific/ss-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="styles/specific/squaresauce.css" rel="stylesheet" type="text/css" />
   
    <title>Oops</title>
  
  <body class="fixed-header error-page  ">
    <div class="container-xs-height full-height">
      <div class="row-xs-height">
        <div class="col-xs-height col-middle">
          <div class="error-container text-center">
            <h2 class="semi-bold">Welcome Aboard!</h2>
            <h4 >We've already created your first square.<br/>
              Have fun interacting with your friends.</h4>
            <p>Click the button below to get started
            <br/>
            <br/>
            <a href="/home"class="btn btn-success btn-cons">Log me in</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="pull-bottom sm-pull-bottom full-width">
      <div class="error-container">
        <div class="error-container-innner">
          <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <div class="col-sm-3 no-padding">
              <img alt="" class="m-t-5" data-src="images/dashboard/stamp.png" data-src-retina="images/dashboard/stamp.png" height="60" src="images/dashboard/stamp.png" width="60">
            </div>
            <div class="col-sm-9 no-padding">
              <p><small>
              Access to the network is currently limited to students at the Lahore University of Management Sciences only. Beta version launching soon.
              </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>