
    <title>oWeek Sign Up</title>
<script src="js/specific/jquery-1.11.1.min.js"></script>
    <link href="styles/specific/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="styles/specific/ss-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="styles/specific/squaresauce.css" rel="stylesheet" type="text/css" />
  
<script type="text/javascript">

    $(document).ready(function () {
        var txtSectorE = $('#sector_e');

        // Save the initial value
        $.data(txtSectorE, "last", txtSectorE.val());

        // Setup the event
        txtSectorE.focusout(function () {
            var last = $.data(txtSectorE, "last");
            if (last != $(this).val())
                var  username= $("#sector_e").val();

                                        $.ajax({
                                          method  : 'POST',
                                          contentType: "application/json; charset=utf-8",
                                          url     : '/user/verifyusername',
                                          data    : '{"username": "'+username+'"}', 
                                          dataType: 'json',
                                          headers : { 'Content-Type': 'application/json' }  


                                        })

                                        .success(function(izdone){
                                          if(izdone==true) {
                                              $('#userno').fadeOut(600);
                                              $('#useryes').fadeIn(600);

                                          }
                                          else {
                                              $('#userno').fadeIn(600);
                                              $('#useryes').fadeOut(600);
                                          }
                                                   
                                      })



        });
    });

 var formApp = angular.module('formApp', []);
        // create angular controller and pass in $scope and $http
        function formController($scope, $http) {
            // create a blank object to hold our form information
            // $scope will allow this to pass between controller and view
            $scope.formData = {};
            // process the form
            $scope.processForm = function() {
                $http({
                    method  : 'POST',
                    url     : '/users/updatedata',
                    data    : $.param($scope.formData),  // pass in data as strings
                    headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)

                }).success(function(headers) {
                        if (headers=='Error 0073') {
                            // if not successful, bind errors to error variables
                           /*var str = "Uh Oh, it seems like you have already registered. Please login to continue.";

                              document.getElementById('successfulsignup').innerHTML = str;

                            $('#successfulsignup').fadeIn('slow');
                            */

                            alert("error");
                            }
                            else {
                                  /* $('#signupform').fadeOut(0);

                                    var str = "Hi " + headers + "! Thanks for signing up! How about we take things to the next level now?<br/> But before we move in, make babies and live happily ever after, we'd like to meet some of your friends.</br> So why don't you call them over too?";

                              document.getElementById('successfulsignup').innerHTML = str;

                            $('#successfulsignup').fadeIn('slow'); 

*/
                            alert("sign up completed");

                            }


                            


                    });
            };
        }

</script>
  <body class="fixed-header" ng-app="formApp" ng-controller="formController">
    <div class="register-container full-height sm-p-t-30">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
          <div class="col-sm-12 col-sm-height col-middle">
            <img src="images/squaresauce-logo.png" alt="logo" data-src="images/squaresauce-logo.png" data-src-retina="images/squaresauce-logo.png" width="180">
            <h3>Please tell us more about yourself</h3>
            <p>
              <small>
        To create a Squaresauce account, provide us with a few more details.
    </small>
            </p>
            <form id="signupform" ng-submit="processForm()"  class="p-t-15" role="form">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label>First Name</label>
                    <input type="text" name="fname" ng-model="formData.fname" value="<%= req.session.fbk_data.first_name%>" class="form-control" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label>Last Name</label>
                    <input type="text" name="lname" ng-model="formData.lname" value="<%= req.session.fbk_data.last_name%>" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Username</label>
                    <input type="text" id="sector_e" name="uname"  ng-model="formData.uname" value="<%= req.session.username%>" class="form-control" required>
                    

                  </div>
                  <div style="display:none;" id="useryes"><p><font color="green">Username Available</font></p></div>
                    <div style="display:none;" id="userno"><p><font color="red">Username not available</font></p></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Password</label>
                    <input type="password" name="pass"  ng-model="formData.pass" value="" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Primary Email</label>
                    <input type="email" name="email" ng-model="formData.email" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Campus Email</label>
                    <input type="email" name="cemail" ng-model="formData.cemail" value="<%= req.session.email%>" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Institution</label>
                    <input type="text" name="institution" ng-model="formData.institution" value="Lahore University of Management Sciences" class="form-control"  disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Previous Institution</label>
                    <input type="text" name="pinstitution" ng-model="formData.pinstitution" placeholder="Your high school / college" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Major</label>
                    <input type="text" name="major" ng-model="formData.major" placeholder="Your field of study" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Batch</label>
                    <input type="text" name="batch" ng-model="formData.batch" placeholder="e.g. Class of 2019" class="form-control" required>
                  </div>
                </div>
              </div> 
              <div class="row m-t-10">
                <div class="col-md-6">
                  <p>I agree to the <a href="#" class="text-info small">Squaresauce Terms</a> and <a href="#" class="text-info small">Privacy</a>.</p>
                </div>
                <div class="col-md-6 text-right">
                  <a href="#" class="text-info small">Help? Contact Support</a>
                </div>
              </div>
              <button class="btn btn-success btn-cons m-t-10" type="submit">Create a new account</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- END OVERLAY -->
    
    <script>
    $(function()
    {
      $('#signupform').validate()
    })
    </script>
  </body>
</html>