
    <title>Privacy Policy of Squaresauce</title>
    <script src="http://squaresauce.com/js/specific/jquery-1.11.1.min.js"></script>
    <link href="http://squaresauce.com/styles/specific/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="http://squaresauce.com/styles/specific/ss-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="http://squaresauce.com/styles/specific/squaresauce.css" rel="stylesheet" type="text/css" />



<body class="fixed-header" ng-app="socketApp" ng-controller="ChatController">
    
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <!-- LEFT SIDE -->
        <!-- RIGHT SIDE -->
        <div class="pull-right full-height visible-sm visible-xs">
          <!-- START ACTION BAR -->
          <div class="sm-action-bar">
            <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
              <span class="icon-set menu-hambuger-plus"></span>
            </a>
          </div>
          <!-- END ACTION BAR -->
        </div>
        <!-- END MOBILE CONTROLS -->
        <div class=" pull-left sm-table">
          <div class="header-inner">
            <a href="#" class="toggle-email-sidebar">Privacy Policy</a>
            <div class="brand inline">
              <img src="http://squaresauce.com/images/squaresauce-logo.png" alt="logo" data-src="http://squaresauce.com/images/squaresauce-logo.png" data-src-retina="http://squaresauce.com/images/squaresauce-logo.png" width="120">
            </div>
          </div>
        </div>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid padding-25 sm-padding-10">
            





            <!-- Content HERE -->
            



            <div class="panel panel-transparent">
              
              <div class="panel-body">
                

                <div class="col-md-12">
                    <div id="portlet-circular" class="panel panel-default">
                      <div class="panel-heading ">
                        <div class="panel-title">PRIVACY POLICY
                        </div>
                        <div class="panel-controls">
                          <ul>
                            <li><a href="#" class="portlet-close" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="panel-body">
                        <p>
 <b>Your Privacy is Important</b><br/><br/>

Squaresauce, ("Squaresauce.com") takes data privacy seriously
<br/><br/>
Squaresauce has also taken unique steps that help you control how much information about you is shared when you use the Site.
<br/><br/>
Please read this document in its entirety and take it seriously. It explains Squaresauce's privacy practices, and what information we collect when you use our website located at www.Squaresauce.com and also how you can opt-out of sharing some of this information.

</p>
<h3>Information we collect</h3>
<p>
When you visit The Site, we may collect and store general, non-identifiable information about what pages you access, your general geographic location (e.g., a city, but not a street address), the device you are using, an anonymized version of your IP address, and the address of websites that refer you to the Site. We also store your email address and UserID that you choose when you register for an account.
<br/><br/>
We may use this information to protect Squaresauce and its users from spam, viruses, identity theft, illegal or harmful activities, as well as to understand how people use the Site, which features work and which don't, and to help us develop and improve the Site's features and services. For example, if we create a feature that everybody is using, we want to know about that, so we collect data about how much different features are used. Additionally, if we have a lot of visitors from The Netherlands (which we do) then we might translate our Help section into Dutch (which we are considering, except none of us speak Dutch). We may create anonymous records by excluding personally identifiable information (such as your name) from records.
<br/><br/>
We also collect any information you provide us if you choose to contact us directly or post on our web site or on your page, including any personally identifiable information. We use this information for the purpose you provided it – for instance, to provide support or answer questions – and to provide you the Site.
<br/><br/>
Squaresauce uses Google Analytics to gather and aggregate general information about user behavior. Google may use this information for the purpose of evaluating your use of the site, compiling reports on site activity for us and providing other services relating to site activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google’s behalf. To the best of our knowledge, the information gathered by Google on our behalf is collected in such a way that neither Squaresauce, nor Google, can easily trace saved information back to any individual user.
<br/><br/>
If you want to invite a friend to the Site, you will need to provide us their email address.

</p>
<h3>Email Communications</h3>
<p>
From time to time we may email you information about Squaresauce that we think is necessary and important. By opening or maintaining an account with Squaresauce, you agree to receive administrative emails as part of your basic service. You can always opt-out of non-administrative emails.
<br/><br/>
If anyone ever contacts you and asks for your Squaresauce password, they are probably trying to scam you. Squaresauce will never do this. Please don't give your Squaresauce password to anyone, and let us know about it so we can hunt them down and execute suitable punishment.
</p>
<h3>Information Sharing</h3>
<p>

We may share your information, including personal information, with third parties under several circumstances, including (1) if you tell us it is OK to do so (2) if we believe that we need to do so to comply with applicable law or legal obligations (3) if we contract with a third party service provider to offer services for you — for example, with a credit card processing company if you decide to buy something through the Site.
<br/><br/>
We will do our best to resist baseless legal requests to access information. However, we may disclose your information or content to satisfy a law, regulation, legal process, governmental request, or governmental order. Squaresauce's policy is to give you, advance notice if we are going to release your information unless by law we are prohibited from or advised against doing so. If we think that by disclosing your information we may prevent serious harm to Squaresauce, its users, you, or anyone else for that matter, we may do so without notifying you. Finally, we may disclose your information if we believe it is necessary to detect, prevent, or otherwise address safety, fraud, or security concerns related to Squaresauce.
</p>
<h3>The Squaresauce Network</h3>
<p>
The Site is a platform built for posting and sharing content publicly. You should assume that anything you post or upload on the Site other than private messages and anonymous evaluations and posts will be accessed by the public.
<br/><br/>
However, we may store backups of your content on our servers, even after it is deleted or after you delete your account.
<br/><br/>
Furthermore, deleting your account or specific content doesn’t mean that your content hasn’t been copied or shared on the Site, and on other parts of the internet by people or services that have nothing to do with the Site.
</p>
<h3>Cookies</h3>
<p>
Squaresauce uses cookies to enable our servers to recognize your web browser and tell us how and when you use the Site. A cookie is a small amount of information that is stored in your web browser, which may contain information about you and the way you use the internet and services like the Site. We use cookies to identify our users, provide automatic login, and personalize your Squaresauce experience. We also may use cookies embedded in emails to help figure out whether anyone is actually reading the drivel that we write.
<br/><br/>
You can turn cookies off on your web browser, but if you do, the Site may not work properly, and in some cases, you may not be able to log into the Site at all.
<br/><br/>
There are many other third party services and web sites that may place cookies in your browser. Our privacy policy only covers our use of Squaresauce cookies, not cookies used by third parties.
</p>
<h3>Changes to the Squaresauce Privacy Policy</h3>
<p>
Squaresauce may update this policy from time to time. We will let you know if we make significant changes by sending a notice to the email address connected with your Squaresauce account, or by placing a notice in a prominent place on our web site. If we make a significant change, the notice we provide will indicate when the change will be effective. If you do not agree with the upcoming change, please delete your account. If you continue to use the Site after the stated effective date, you will be deemed to have accepted the change.
You can also always find the most current version of this policy on our web site, as well as older versions.
</p>
<h3>
Contact Information</h3>
<p>
We welcome your comments or questions regarding this Privacy Policy. Please e-mail us at yourfriends@Squaresauce.com or contact us at the following address: 308, M2, LUMS, DHA, Lahore, Punjab, Pakistan or phone number: (0092)3154-332-322.
                  

                        </p>
                      </div>
                    </div>
              </div>
            </div>
            <!-- END PANEL -->

              




          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- END OVERLAY -->
